body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.envelope {
  margin: 100px auto;
  width: 500px;
  height: 350px;
  border: 1px solid grey;
}
.from {
  float: left;
}
.to {
  float: right;
  top: 50%;
  position: relative;
  right: 20%;
}
